
@media (min-width: 2200px) {
    .flexBlog {
        .leftblogContainer {
            .pContainer {
                margin: 0 5% 0 30%;
            }
        }
    }
}

@media (max-width: 1024px) {
    //font size back to 100%
    html {
        font-size: 100%;
    }

    //navbar restyle
    .checked {
        li {
            &:not(:first-child) {
                margin: 8px 0 8px 20px;
            }
        }
    }
    .title {
        left: 50%;
    }
    .about {
        padding: 200px 0 100px 0;
        .flexContainer {
            .flexRight {
                box-shadow: -15px 15px 0 0 $greenishcyan;
            }
        } 
    }
    .extraInfo {
        padding-bottom: 800px;
    }
    .flexColumnRight {
        .rightImg {
            height: 400px;
            box-shadow: -15px 15px 0 0 $greenishcyan;
        }
    }
    .flexColumnLeft {
        .leftImg {
            height: 400px;
            box-shadow: 15px 15px 0 0 $greenishcyan;
        }
    }
    .backgroundImg {
    padding: 200px;
    }
    .gallery {
        .galleryImg {
            padding: 100px 0;
        }
        .flexContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 60%;
                &:nth-last-of-type(2) {
                    margin: 60px 0;
                }
            }
        }
    }
    .freeTrip {
        padding: 100px 0;
    }
    //blogpage
    .blogRight {
        width: 25%;
    }
    .blogLeft {
    padding-bottom: 100px;
    }
    .flexForm {
        margin-top: 50px;
    }

    //contact 
    .contactHeader {
        padding-bottom: 100px;
    }
    .formContact {
        width: 100%;
        padding: 50px;
        box-shadow: none;
        border: 10px solid $greenishcyan;
        position: unset;
        margin-right: 0;
    }
    .flexSocial {
        display: block;
    }
    .right {
        align-items: center;
        text-align: center;
        padding: 100px 0;
    }
    .socialMediaIcons {
        li {
            padding-right: 0px;
            &:not(:last-child) {
                padding-right: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    //header
    .title {
        text-align: center;
        h1 {
            width: 350px;
            word-wrap: break-word;
        }
    }
    .mainNav {
        position: absolute;
        background-color: $black;
        width: 100%;
        left: 0;
        z-index: 20;
        padding: 0;
        top: -10px;
    }
    .toggle {
        position: absolute;
        cursor: pointer;
        margin: 30px;
        right: 0;
        top: 0;
            i {
            &:first-child {
            display: block;
            }
        }
    }
    label {
        i{
            &:first-child {
                color: $greenishcyan;
            }
        }
        :last-child {
            display: none;
        }
    }
    .logo {
        position: absolute;
        margin: 17px 17px 24px 17px;
        top: 10px;
        left: 0;
        &::after {
            margin: 0;
        }
    }
    .checked {
        align-items: center;
        flex-direction: column;
        li {
            &:not(:first-child) {
            display: none;
            margin: 25px;
            }
            &:nth-child(2) {
            margin-top: 100px;
            }
            &:last-child {
                margin-bottom: 100px;
            }
        }
    }
    
    .checkbox:checked {
        ~ul.checked {
            li {
                display: block;
            }
        } 
    }

    .checkbox:checked {
        ~label.toggle {
            .fa-solid.fa-xmark {
                display: block;
                color: $iceelue;
            }
        }
    }

    .checkbox:checked {
        ~label.toggle {
            .fa-solid.fa-bars {
                display: none;
            }
        }
    }
    .titleImg {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 0;
        bottom: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }

    //homepage
    .about {
        padding: 100px 0;
        .flexContainer {
            flex-direction: column-reverse;
            align-items: center;
            .flexLeft {
                text-align: center;
                width: 90%;
                margin-right: 0;
            }
            .flexRight {
                width: 60%;
                margin-bottom: 50px;
            }
        } 
    }
    .gallery {
        .flexContainer {
            img {
                width: 70%;
            }
        }
    }
    .info {
        padding: 100px 0 50px 0;
        .flexInfo {
            justify-content: center;
            li {
                width: 90%;
            }
        }
    }
    .fa-users,
    .fa-phone-flip {
        margin-left: 0;
    }
    .extraInfo {
    padding-bottom: 0;
}
    .flexColumnLeft {
        position: unset;
        width: 100%;
        padding-bottom: 100px;
        .leftText {
            text-align: center;
            padding-top: 70px;
            width: 80%;
            margin: 0 auto;
        }
        .leftImg {
            width: 100%;
            height: 350px;
            margin: auto;
        }
    }
    .flexColumnRight {
        flex-direction: column-reverse;
        position: unset;
        width: 100%;
        padding-bottom: 100px;
        .rightText {
            text-align: center;
            padding-top: 70px;
            width: 80%;
            margin: 0 auto;
        }
        .rightImg {
            width: 100%;
            height: 350px;
            margin: 0 auto;
        }
    }
//blogpage
    .blogImg {
        height: 40vh;
    }
    .blogRight {
        width: 100%;
        position: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .sideBarImg {
            height: 400px;
            width: 400px;
        }
    }
    .blogLeft {
        width: 100%;
        padding: 70px 0 100px 0;
    }
    .flexBlog {
        padding: 100px 0;
        .leftblogContainer {
            width: 100%;
            .pContainer {
            padding-top: 100px;
            width: 80%
            }
            .blogImgLeft {
                position: unset;
                width: 80%;
                margin: 0 auto;
                height: 400px;
                box-shadow: 15px 15px 0 0 $greenishcyan;
            }
        }
    }
    .sideBarInfo,
    .sideBarList {
        width: 65%;
    }
    .sideBarInfo {
        >h5 {
            padding-top: 30px;
        }
    }
    //contactpage
    .contactImg {
        height: 40vh;
    }
    .formContact {
        padding: 35px;
    }
    .nameEmail {
        flex-direction: column;
        input {
            width: 100%;
            margin: 20px 0;
        }
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 4.6rem;
    }
    .titleImg {
        display: none;
    }
    span {
        display: block;
    }
    .wrapper {
        width: 90%;
    }
    .gallery {
        .flexContainer {
            img {
                width: 90%;
            }
        }
    }
    .flexColumnLeft {
        padding-top: 100px;
        .leftImg {
            height: 250px;
            width: 90%;
            box-shadow: none;
        }
    }
    .flexColumnRight {
        .rightImg {
            height: 250px;
            width: 90%;
            box-shadow: none;
        }
    }
    .backgroundImg {
        padding: 150px;
    }
    .about {
        .flexContainer {
            .flexRight {
                box-shadow: none;
            }
        } 
    }
    .flexBlog {
        .leftblogContainer {
            box-shadow: none;
            .pContainer {
                width: 90%;
                padding-bottom: 0;
            }
            .blogImgLeft {
                position: unset;
                width: 90%;
                height: 300px;
                box-shadow: none;
            }
        }
    }
    .blogRight {
        .sideBarImg {
            height: 250px;
            width: 250px;
        }
    }
    //contactpage
    .formContact {
        border: none;
        padding: 0;
    }
    .nameEmail {
        input {
            border: 2px solid $greenishcyan;
        }
    }
    .contactImg {
        height: 55vh;
    }
    .flexComment {
        .personTwo {
            width: 30%;
            img {
                width: 100%;
            }
        }
        .personOne {
            width: 30%;
            img {
                width: 100%;
            }
        }
    }
    .flexInfo {
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            text-align: center;
        }
    }
    .infoLeft {
        margin: 0 auto;
        i {
            width: 40px;
            height: 40px;
            margin: 20px 0;
        }
    }
}
