//colors

//#50E3C2 Greenish Cyan
//#2C2C2C Black
//#FAFFFE Ice Blue
//#063974 Twilight Blue
//#02F9F1 Light Light Blue
//#0C5F4C Spruce

$greenishcyan: #50E3C2;
$black: #2C2C2C;
$iceelue: #FAFFFE;
$twilightelue: #063974;
$lightlightblue: #D2F9F1;
$spruce: #0C5F4C;