@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  background-color: #FAFFFE;
  max-width: 2500px;
  margin: 0 auto;
}

h1 {
  font-size: 5.56rem;
  font-weight: 900;
  color: #063974;
}

h1,
button,
.logo {
  font-family: "Playfair Display SC", serif;
}

h2 {
  font-size: 4.35rem;
  letter-spacing: 0.45rem;
}

h3 {
  font-size: 3.1rem;
  letter-spacing: 0.335rem;
  color: #0C5F4C;
}

h4 {
  font-size: 1.75rem;
  letter-spacing: 0.19rem;
  color: #0C5F4C;
}

h5 {
  font-size: 1.2rem;
  color: #063974;
  letter-spacing: 0.1rem;
}

h6 {
  font-size: 1.5rem;
  letter-spacing: 0.16rem;
  color: #0C5F4C;
}

h3, h4, h5, h6 {
  line-height: 2.9rem;
}

h2,
h3,
h4,
h5,
h6,
nav {
  font-weight: 700;
}

button {
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
}

nav {
  line-height: 1.45rem;
  letter-spacing: 0.05rem;
}

p {
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.logo {
  font-size: 1.73rem;
}

::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

*, h1 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

button {
  color: #FAFFFE;
  background-color: #063974;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  padding: 7px 20px;
}
button:hover {
  background-color: #2b80e0;
}
button:focus {
  background-color: #2b80e0;
}

.checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.checked li:not(:first-child) {
  margin: 8px 0 8px 50px;
}
.checked li:first-child {
  margin-right: auto;
}
.checked li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #50E3C2;
  display: block;
  margin: auto;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.checked li:hover::after {
  width: 100%;
}
.checked li a {
  color: #FAFFFE;
  text-transform: uppercase;
  padding: 8px;
}
.checked li a:hover {
  color: #50E3C2;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  margin: auto;
}
.checked li a:focus {
  color: #50E3C2;
  border: 1px solid #50E3C2;
}
.checked li .logo {
  color: #50E3C2;
}

.homeImg {
  height: 100vh;
  background-image: url(../beach-final-images/home-image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.titleImg {
  width: 45%;
  position: absolute;
  left: 0;
  bottom: -100px;
}
.titleImg img {
  width: 100%;
  height: 100%;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: absolute;
  top: 50%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.about {
  padding: 250px 0 150px 0;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flexContainer .flexLeft {
  width: 60%;
  margin-right: 50px;
}
.flexContainer .flexLeft p {
  margin: 10px 0 20px 0;
}
.flexContainer .flexRight {
  -webkit-box-shadow: -20px 20px 0 0 #50E3C2;
          box-shadow: -20px 20px 0 0 #50E3C2;
}
.flexContainer .flexRight img {
  height: 100%;
  width: 100%;
}

.gallery {
  background-color: #D2F9F1;
}
.gallery .galleryImg {
  padding: 150px 0;
}
.gallery .galleryImg img {
  width: calc(33.3333333333% - 20px);
}

.info {
  padding: 150px 0;
}
.info .flexInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.info .flexInfo li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infoLeft i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #50E3C2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FAFFFE;
  margin-right: 20px;
}

.infoRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.infoRight p {
  margin-bottom: 50px;
}

.fa-users,
.fa-phone-flip {
  margin-left: 20px;
}

.extraInfo {
  position: relative;
  padding-bottom: 900px;
  background-color: #D2F9F1;
}

.flexColumnLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: -5%;
  width: 45%;
}
.flexColumnLeft .leftText {
  text-align: right;
  margin: 70px 0;
  width: 35vw;
  margin-left: auto;
}
.flexColumnLeft .leftText p {
  margin: 15px 0;
}
.flexColumnLeft .leftImg {
  height: 450px;
  -webkit-box-shadow: 20px 20px 0 0 #50E3C2;
          box-shadow: 20px 20px 0 0 #50E3C2;
}
.flexColumnLeft .leftImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flexColumnRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  bottom: -5%;
  width: 45%;
}
.flexColumnRight .rightText {
  margin: 70px 0;
  width: 35vw;
}
.flexColumnRight .rightText p {
  margin: 15px 0;
}
.flexColumnRight .rightImg {
  height: 450px;
  -webkit-box-shadow: -20px 20px 0 0 #50E3C2;
          box-shadow: -20px 20px 0 0 #50E3C2;
}
.flexColumnRight .rightImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.backgroundImg {
  background-image: url(../beach-final-images/banner-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 300px;
}

.freeTrip {
  padding: 150px 0;
}

.centerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.centerText button {
  margin: auto;
}
.centerText p {
  margin: 10px 0 20px 0;
}

footer {
  padding: 10px;
  background-color: #2C2C2C;
}
footer p {
  color: #FAFFFE;
  text-align: center;
}

.contactImg {
  background-image: url(../beach-final-images/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 45vh;
  position: relative;
}

.titleContact {
  color: #FAFFFE;
  position: absolute;
  top: 50%;
}

.formContact {
  width: 65%;
  padding: 50px;
  -webkit-box-shadow: 20px 20px 0 0 #50E3C2;
          box-shadow: 20px 20px 0 0 #50E3C2;
  position: relative;
  top: -125px;
  margin-right: 50px;
  background-color: white;
}

.nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nameEmail input {
  border: none;
  border-bottom: 2px solid #50E3C2;
  width: 45%;
  padding: 20px;
}

.socialMediaIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socialMediaIcons li {
  padding-right: 20px;
}

.contactInfo :first-child {
  font-weight: bold;
  margin: 15px 0;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialMediaIcons i {
  color: #2C2C2C;
}

.blogImg {
  background-image: url(../beach-final-images/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 45vh;
  position: relative;
}

.titleBlog {
  color: #FAFFFE;
  position: absolute;
  top: 50%;
  z-index: 10;
}

.blogLeft {
  width: 55%;
  padding-bottom: 150px;
}

.flexBlog {
  position: relative;
}
.flexBlog .blogImgLeft {
  position: relative;
  top: -100px;
  width: 55%;
  -webkit-box-shadow: 20px 20px 0 0 #50E3C2;
          box-shadow: 20px 20px 0 0 #50E3C2;
}
.flexBlog .blogImgLeft img {
  width: 100%;
  height: 100%;
}

.blogRight {
  width: 20%;
  position: absolute;
  top: 150px;
  right: 0;
}
.blogRight img {
  width: 100%;
  height: 100%;
}

.flexform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70px;
}
.flexform textarea {
  border: none;
  border: 2px solid #50E3C2;
  padding: 20px;
  resize: none;
  width: 100%;
  height: 250px;
}
.flexform button {
  margin-top: 50px;
}

.sideBarList,
.sideBarInfo {
  margin-right: 20px;
}

.sideBarList li ::before {
  content: "•";
  color: #50E3C2;
  display: inline-block;
  width: 25px;
}

.sideBarInfo :last-child {
  color: #0C5F4C;
  font-weight: bold;
  margin-bottom: 20px;
}

.pContainer {
  padding-bottom: 150px;
}
.pContainer p:first-of-type {
  color: #063974;
  letter-spacing: normal;
}
.pContainer p:nth-of-type(n + 2) {
  margin: 30px 0;
}

.commentContainer > p {
  font-size: 1.2rem;
  font-weight: bold;
}

.flexComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}
.flexComment p:first-of-type {
  color: #063974;
  font-weight: bold;
}

.commentOne {
  width: 80%;
  margin-left: 20px;
}

@media (max-width: 1024px) {
  .title {
    left: 50%;
  }

  .about {
    padding: 200px 0 100px 0;
  }
  .about .flexContainer .flexRight {
    -webkit-box-shadow: -15px 15px 0 0 #50E3C2;
            box-shadow: -15px 15px 0 0 #50E3C2;
  }

  .extraInfo {
    padding-bottom: 800px;
  }

  .flexColumnRight .rightImg {
    height: 400px;
    -webkit-box-shadow: -15px 15px 0 0 #50E3C2;
            box-shadow: -15px 15px 0 0 #50E3C2;
  }

  .flexColumnLeft .leftImg {
    height: 400px;
    -webkit-box-shadow: 15px 15px 0 0 #50E3C2;
            box-shadow: 15px 15px 0 0 #50E3C2;
  }

  .backgroundImg {
    padding: 200px;
  }

  .gallery .galleryImg {
    padding: 100px 0;
  }
  .gallery .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery .flexContainer img {
    width: 60%;
  }
  .gallery .flexContainer img:nth-last-of-type(2) {
    margin: 60px 0;
  }

  .info,
.freeTrip {
    padding: 100px 0;
  }

  .blogRight {
    width: 25%;
  }

  .blogLeft {
    padding-bottom: 100px;
  }

  .contactHeader {
    padding-bottom: 100px;
  }

  .formContact {
    width: 100%;
    padding: 50px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 10px solid #50E3C2;
    position: unset;
    margin-right: 0;
  }

  .flexSocial {
    display: block;
  }

  .right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 100px 0;
  }

  .socialMediaIcons li {
    padding-right: 0px;
  }
  .socialMediaIcons li:not(:last-child) {
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .about .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .flexContainer .flexLeft {
    text-align: center;
    width: 90%;
    margin-right: 0;
  }
  .about .flexContainer .flexRight {
    width: 60%;
    margin-bottom: 50px;
  }

  .gallery .flexContainer img {
    width: 70%;
  }

  .info {
    padding-bottom: 100px;
  }
  .info .flexInfo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info .flexInfo li {
    width: 90%;
  }

  .fa-users,
.fa-phone-flip {
    margin-left: 0;
  }

  .extraInfo {
    padding-bottom: 0;
  }

  .flexColumnLeft {
    position: unset;
    width: 100%;
    padding: 150px 0;
  }
  .flexColumnLeft .leftText {
    text-align: center;
    padding-top: 70px;
    width: 80%;
    margin: 0 auto;
  }
  .flexColumnLeft .leftImg {
    width: 80%;
    height: 350px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: auto;
  }

  .flexColumnRight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: unset;
    width: 100%;
    padding-bottom: 150px;
  }
  .flexColumnRight .rightText {
    text-align: center;
    padding-top: 70px;
    width: 80%;
    margin: 0 auto;
  }
  .flexColumnRight .rightImg {
    width: 80%;
    height: 350px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0 auto;
  }

  .blogImg {
    height: 30vh;
  }

  .blogRight {
    width: 100%;
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .blogRight .sideBarImg {
    height: 400px;
    width: 400px;
  }

  .blogLeft {
    width: 100%;
    padding-bottom: 100px;
  }

  .flexBlog {
    padding: 100px 0;
  }
  .flexBlog .blogImgLeft {
    position: unset;
    width: 80%;
    margin: 0 auto;
    height: 400px;
    -webkit-box-shadow: 15px 15px 0 0 #50E3C2;
            box-shadow: 15px 15px 0 0 #50E3C2;
  }

  .pContainer {
    padding: 70px 0;
  }

  .sideBarInfo,
.sideBarList {
    width: 65%;
  }

  .sideBarInfo > h5 {
    padding-top: 30px;
  }

  .contactImg {
    height: 30vh;
  }

  .formContact {
    padding: 35px;
  }
}
@media (max-width: 480px) {
  .wrapper {
    width: 90%;
  }

  .gallery .flexContainer img {
    width: 90%;
  }

  .flexColumnLeft .leftImg {
    height: 250px;
    width: 90%;
  }

  .flexColumnRight .rightImg {
    height: 250px;
    width: 90%;
  }

  .backgroundImg {
    padding: 150px;
  }

  .about .flexContainer .flexRight {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .flexBlog .blogImgLeft {
    position: unset;
    width: 90%;
    height: 300px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .blogRight .sideBarImg {
    height: 250px;
    width: 250px;
  }

  .formContact {
    border: 5px solid #50E3C2;
    padding: 25px;
  }
}